<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="methods" thread-count="4">
    <test verbose="2" preserve-order="true" name="Error validations" >   <!--java class-->
        <classes>
            <class name="E2ETestCases.TestErrorValidation"/>
            <class name="E2ETestCases.TestSubmitOrder"/>

        </classes>
    </test>


</suite>
